.custom-item {
    max-width: 60%; /* Limite la largeur à 60% */
    width: 80%; /* Ajuste la largeur pour occuper tout l'espace disponible */
    margin-left: auto; 
    margin-right: auto; /* Aligne à gauche pour pousser les éléments à droite */
    text-align: left;
    border: 1px solid #ccc; /* Ajoute une bordure de couleur grise */
    padding: 10px; /* Ajoute un espacement intérieur */
    background-color: #f5f5f5;
}
